body{ 
background-color: rgb(195, 0, 255); /*Aplica color al fondo*/
margin: 0px; /*Elimina el margen que viene predeterminado*/
padding: 0px; /*Eliminar espacios */
}

.container{
    display: flex; /*Organiza los elementos de manera flexible*/
    flex-direction: column; /*Alinea los elementos en columna*/
    align-items: center; /*Centra los articulos */
    gap: 20px; /*Espacio entre los elementos/fichhas*/
    text-align: center;
}

section article{
transition: box-shadow 0.3s ease;/*Aplica una transicion suave*/
background-color: rgb(138, 233, 114); /*
margin: 16px 0; /*Agregan Margen vertical*/
border-radius:8px ;
padding:  4px 0;
cursor: pointer; /*Cambia el estilo del cursor*/
}

/*Estilo que se aplica cuando el cursor pasa sobre el elemento*/
section article:hover{box-shadow: 0 1.6px 10.4px rgb(250, 248, 248, 00.3s);

}

section article h2, section article p{
    margin: 16px;
}

footer{
    background-color: black;
    padding: 12px;
    color: blanchedalmond;
    margin: 0;
}

footer section{
    float: right;
    margin: 0;
    padding: 0;
}

footer a{
    transition: color 0.3s ease;
    color: azure;
    text-decoration: none;
    
}

footer a:hover{ color: blueviolet;

}

header{
    background-color: rgb(48, 15, 39);
    padding: 1px;
    text-align: center;
    color: beige;
}

footer p{
    margin: 0;
}